.logincontainer {
    background: linear-gradient(135deg, #dbeafe, #bfdbfe);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loginbox {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
  }
  
  .logintitle {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #2563eb;
  }
  
  .logininput {
    width: 100%;
    padding: 10px;
    margin-top: 9px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
  }
  
  .loginselect {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .loginbutton {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .loginbutton:hover {
    background-color: #701c4c;
  }
  
  .errortext {
    color: red;
    margin-top: 10px;
    font-size: 14px;
  }
  